{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "sourceType": "module",

  "env": {
    "es6": true
  },
  "rules": {
    "no-undef": "error"
  },
  "globals": {
    "require": "readonly",
    "module": "readonly",
    "process": "readonly",
    "console": "readonly",
    "__dirname": "readonly",
    "setTimeout": "readonly"
  }
}
